@font-face {
  font-family: 'Daniel', sans-serif;
  src: url(../fonts/Daniel-Bold.otf) format("otf");
}

:root {
  --clr-h: 250;
  --clr-s: 30%;
  --clr-l: 30%;
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-l-0: 0%;
  --clr-l-30: 30%;
  --clr-l-40: 40%;
  --clr-l-50: 50%;
  --clr-l-90: 90%;
  --clr-l-100: 100%;
}

body {
  position: relative;
  background: hsl(0, 0%, var(--clr-l-100));
  color: hsl(0, 0%, var(--clr-l-0));
  font-size: 100%;
  font-family: 'Daniel', sans-serif;
  font-weight: 700;
  line-height: 1.6;
  padding: 2rem;
}

body > * + * {
  margin-top: 2rem;
}

body.dark {
  --clr-l-100: 10%;
}

h1 {
  color: hsl(var(--clr-h), var(--clr-s), var(--clr-l-30));
}

.dark h1 {
  --clr-l-30: 70%;
}

article {
  background: hsl(var(--clr-h), var(--clr-s), var(--clr-l-90));
  border-radius: 0.3rem;
  overflow: hidden;
}

article > * + * {
  padding: 1rem;
}

.dark article {
  --clr-l-90: 50%;
}

article h2 {
  background: hsl(var(--clr-h), var(--clr-s), var(--clr-l-40));
  color: var(--clr-black);
  padding: 0.5rem 1rem;
}

.dark article h2 {
  --clr-l-40: 60%;
  color: var(--clr-white);
}

.alt {
  --clr-h: 190;
  --clr-s: 40%;
  --clr-l: 90%;
  background: hsl(var(--clr-h), var(--clr-s), var(--clr-l));
}

.toggle-btn {
  --clr-l: 90%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 4rem;
  min-height: 2rem;
  background: hsl(var(--clr-h), var(--clr-s), var(--clr-l));
  border-radius: 1em;
}

.dark .toggle-btn {
  --clr-l: 60%;
}

#toggle {
  margin: 0;
  width: 2rem;
  height: 2rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  z-index: 1;
}

#toggle:checked + label {
  left: 2.3rem;
  background: hsl(var(--clr-h), var(--clr-s), var(--clr-l-40));
}

label {
  position: absolute;
  top: 50%;
  left: 0.2rem;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 1.5rem;
  height: 1.5rem;
  background: hsl(var(--clr-h), var(--clr-s), var(--clr-l-100));
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: left 0.5s ease-in-out, background 0.5s ease-in-out;
  transition: left 0.5s ease-in-out, background 0.5s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-l-0: 100%;
    --clr-l-30: 70%;
    --clr-l-40: 60%;
    --clr-l-90: 10%;
    --clr-l-100: 10%;
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*# sourceMappingURL=main.css.map */