@font-face {
  font-family: 'Daniel', sans-serif;
  src: url(../fonts/Daniel-Bold.otf) format('otf');
}

:root {
  --clr-h: 250;
  --clr-s: 30%;
  --clr-l: 30%;
  --clr-white: hsl(0, 0%, 100%);

  --clr-l-0: 0%;
  --clr-l-30: 30%;
  --clr-l-40: 40%;
  --clr-l-50: 50%;
  --clr-l-90: 90%;
  --clr-l-100: 100%;
}

body {
  background: hsl(0, 0%, var(--clr-l-100));
  color: hsl(0, 0%, var(--clr-l-0));
  font-size: 100%;
  font-family: 'Daniel', sans-serif;
  font-weight: 700;
  line-height: 1.6;
  padding: 2rem;

  & > * + * {
    margin-top: 2rem;
  }
}

h1 {
  // padding: 1rem;
  color: hsl(var(--clr-h), var(--clr-s), var(--clr-l-30));
}

article {
  --clr-l: 90%;
  background: hsl(var(--clr-h), var(--clr-s), var(--clr-l-90));
  border-radius: 0.3rem;
  overflow: hidden;

  & > * + * {
    padding: 1rem;
  }

  & h2 {
    --clr-l: 40%;
    background: hsl(var(--clr-h), var(--clr-s), var(--clr-l-40));
    color: var(--clr-white);
    padding: 0.5rem 1rem;
  }
}

.alt {
  --clr-h: 190;
  --clr-s: 40%;
  --clr-l: 90%;
  background: hsl(var(--clr-h), var(--clr-s), var(--clr-l));
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-l-0: 100%;
    --clr-l-30: 70%;
    --clr-l-40: 60%;
    --clr-l-90: 10%;
    --clr-l-100: 10%;
  }
}
